.Input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.Input label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}

.Input input, .Input textarea, .Input select {
	outline: none;
	border: 1px solid #ccc;
	background-color: white;
	font-family: inherit;
	padding: 6px 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.Input input::focus, .Input textarea::focus {
	outline: none;
	background-color: #ccc;
}

input.Invalid, textarea.Invalid, select.Invalid {
	border: 1px solid red;
	background-color: #FDA49A;
}

.Error {
	color: red;
	margin: 5px 0;
}